<h2 class="page-header"><%= director.name %></h2>
<div class="film-details-label director-des"><%= director.description %></div>
<div class="btn-row">
  <a class="btn btn-primary" href="/directors/<%= director.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/directors/${director.id}` }) %>
</div>
<% if (filmsByDirector.length > 0) { %>
    <h2 class="page-header page-header-semi">Films By Director</h2>
    <div class="films-of-director">
    <%- include('../partials/filmGrid', { films: filmsByDirector }) %>
  <% } %>
  </div>