<h2><%= director.name %></h2>
<a href="/directors/<%= director.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',
            { url: `/directors/${director.id}` }) %>
<% if (filmsByDirector.length > 0) { %>
    <h2>Films By Director</h2>
    <% filmsByDirector.forEach(film => { %>
      <a href="/films/<%= film.id %>">
        <a href="/films/<%= film.id %>">
          <img height="150" width="100" src="<%= film.posterImagePath %>">
      </a>
    <% }) %>
  <% } %>