<% const genre = [' Action', ' Drama', ' Comedy', ' Horror', ' Fantasy', ' Crime', ' Adventure', ' War', ' Sports', ' Psychological'] %>
<div>
    <label>Title: </label>
    <input type="text" name="title" value="<%= film.title %>" required>
</div>
<div>
    Genre: 
    <% genre.forEach(g => { %>
        <label><input name="genre" type="checkbox" value="<%= g %>"><%= g %></label>
        <% }) %>
</div>
<div>
    <label>Release Year: </label>
    <input type="number" name="releaseYear" value="<%= film.releaseYear %>" required>    
</div>
<div>
    <label>Runtime: </label>
    <input type="number" name="runTime" min="1" value="<%= film.length %>" required>    
</div>
<div>
    <label>Director: </label>
    <select name="director">
    <% directors.forEach(director => { %>
        <% if (director.id === film.director) { %>
            <option selected label="<%= director.name %>" value="<%= director.id %>"></option>
            <% } else { %>
                    <option value="<%= director.id %>"><%= director.name %></option>
                    <% } %>
                <% }) %>
    </select>
</div>
<div>
    <label>Writers: </label>
    <input type="text" name="writers" value="<%= film.writers %>" required>    
</div>
<div>
    <label>Stars: </label>
    <input type="text" name="stars" value="<%= film.stars %>" required>    
</div>
<div>
    <label>Score: </label>
    <input type="text" name="score" min="1" max="10" value="<%= film.score %>" required>    
</div>
<div>
    <label>Summary: </label>
    <textarea name="summary" required><%= film.summary %></textarea> 
</div>
<div>
    <label>Description: </label>
    <textarea name="description" required><%= film.description %></textarea> 
</div>
<div>
    <label>Poster: </label>
    <input type="file" class="filepond" name="poster" required>    
</div>





